.sellPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sellForm {
    width: 900px;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.inputHolder {
    display: flex;
    flex-direction: column;
    width: 40%;

}

.sellText {
    border-radius: 8px;
    height: 25px;
    text-align: center;
    font-size: 18px;
}

.sellLabel {
    text-align: left;
    margin: 0;
}

.sellButton {
    width: 40%;
    align-self: center;

    background-color: #3B3C1B;
    border: 2px solid #ADD010;
    color: #ADD010;
    border-radius: 32px;
    font-family: "Finger Paint", serif;
    font-size: 120%;
}

.sellButton:hover {
    cursor: pointer;
}