.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeBody {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    width: 800px;
    align-items: center;
    justify-content: space-between;
}

.homeInfoBox {
    width: 375px;
    height: 400px;
    text-align: center;
    border: 2px solid saddlebrown;

}

.loginBox {
    width: 375px;
    height: 400px;
    text-align: center;
    border: 2px solid saddlebrown;
}