@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Finger+Paint&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  margin: 0;
  font-family: "Finger Paint", serif;
  -moz-osx-font-smoothing: grayscale;
  background-color: #6A89A6;
}

code {
  font-family: sitesFont, serif;
}
